@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$firstFont: 'Ubuntu';
$darkBlue: #1ba4a4;
$lightBlue: darken(#00e4e4, 8%);
$green: darken(#45F391, 10%);
$grey: #828282;
$white: #FFFFFF;
